@media (min-width:0px) and (max-width:425px) {
    .intro {
        width: 100%;
        margin-top: 5vh;

        h1 {
            font-size: 40px;
            color: $accentColor;
            text-align: center;
            width: 100%;
            font-weight: 500;

        }

        h2 {
            color: $primaryColor;
            font-weight: lighter;
            text-align: center;
            width: 100%;
            font-size: 30px;
            margin-top: 1%;
        }

        .dot {
            color: $accentColor;
        }

        p {
            color: $primaryColor;
            text-align: center;
            font-size: 20px;
            width: 90%;
            margin: 3% 5% 0% 5%;
        }

        .resume-socials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 7%;

            .resumeBtn {
                width: 30vw;
                height: 6vh;
                font-size: 16px;
                border: none;
                padding: 5vh auto;
                font-size: 20px;
                background-color: $accentColor;
                border: 1px solid $accentColor;
                color: $backgroundColor;


                a {
                    text-decoration: none;
                    color: $accentColor;

                }

                &:hover {
                    color: $backgroundColor;
                    background-color: $accentColor;
                    transition: 1s;
                    border: 1px solid $accentColor;
                }
            }

            .socials {
                display: flex;
                flex-direction: row;
                margin-top: 3%;
                width: 50%;
                justify-content: space-evenly;

                li {
                    list-style: none;

                    img {
                        height: 38px;
                        width: 38px;
                    }

                    a {
                        display: grid;
                        place-items: center;
                        width: 30%;
                        height: 50px;
                        text-decoration: none;
                        margin: 10px;
                    }

                    a:hover {
                        border-bottom: 5px solid black;
                        transform: translate(0px, 20px);
                        transition: ease;

                    }
                }
            }
        }

    }

    .navigation {
        position: sticky;
        top: 0;
        margin: auto;
        margin-top: 5vh;


        .nav-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: auto;
        }

        a {
            color: $accentColor;
            text-decoration: none;
            align-items: center;
            border: 1px solid $accentColor;
            background: $backgroundColor;
            text-align: center;
            padding: 0.6em 2vw;
            font-size: 1em;
            letter-spacing: 2px;
        }

        a:hover {
            color: $backgroundColor;
            background-color: $accentColor;
            transition: 1s;
        }

    }

    .skills {
        margin-top: 8vh;

        h1 {
            color: $accentColor;
            font-weight: 400;
            margin-top: 3vh;
            margin-left: 9%;
            /* text-transform: uppercase; */
        }

        .skills-img-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.3em;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 2vh 15%;
            text-align: center;

            img {
                height: 38px;
                width: 38px;
                margin: auto;
            }
        }

    }

    .projects {
        margin-top: 5vh;
        width: 100vw;

        h1 {
            color: $accentColor;
            font-weight: 400;
            margin-top: 3vh;
            margin-left: 9%;
            /* text-transform: uppercase; */


        }

        .projectsContainer {
            margin: 3% 10% 0% 10%;
            display: grid;
            gap: 3em;
            margin-top: 2vh;

            img {
                width: 100%;
                height: 100%;

            }

            h2 {
                margin-top: 2%;
                color: $accentColor;
                font-size: 1.2em;
            }

            p {
                color: $primaryColor;
                width: 100%;
                margin-top: 5%;

            }


            .projectLink {
                margin-top: 1%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                a {
                    width: 100%;
                    margin-right: 2%;
                    text-align: center;
                    color: $accentColor;
                    border: 1px solid $accentColor;
                    margin-top: 5%;
                    padding: 10px 30px;
                }

                a:hover {
                    color: $backgroundColor;
                    background: $accentColor;
                    transition: 1s;
                }

            }

            .toolsUsed {
                margin-top: 5%;
                width: 30px;
                height: 30px;
            }
        }

    }

    .contact {
        margin-top: 5vh;

        h1 {
            color: $accentColor;
            font-weight: 400;
            margin-top: 3vh;
            margin-left: 9%;
            /* text-transform: uppercase; */
        }

        form {
            margin: auto;
            width: 80vw;
            display: flex;
            flex-direction: column;

            input:focus::placeholder,
            textarea:focus::placeholder {
                transform: translateY(-150%);
                transition: 0.5s ease;
            }

            input,
            textarea {
                width: 80vw;
                border: none;
                background-color: $backgroundColor;
                margin-top: 4vh;
                border-bottom: 1px solid $accentColor;
                color: $primaryColor;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3em;
                padding-left: 0.4em;


                &::placeholder {
                    color: $accentColor;
                }


            }

            input {
                padding-bottom: 0.5em;
            }

            textarea {
                border: 1px solid $accentColor;
                resize: none;
                padding-top: 0.4em;
                margin-top: 4vh;

            }

            button {
                background-color: $accentColor;
                border: none;
                padding: 0.7em 1.2em;
                font-size: 1em;
                width: 45vw;
                margin: auto;
                margin-top: 2vh;
                cursor: pointer;

                &:hover {
                    transition: ease 0.3s;
                    transform: scale(0.88);
                }
            }
        }
    }

    footer {
        background-color: $accentColor;
        color: $backgroundColor;
        margin-top: 5vh;
        text-align: center;
        padding: .8em;
    }
}