$primaryColor: white;
$accentColor: #ceb215;
$backgroundColor: black;

/* *:focus {
    outline: 3px solid;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    background-color: $backgroundColor;
    font-family: 'Montserrat', sans-serif;
}


hr.horizontal-rule {
    border-top: 1px dashed $accentColor;
}



@import './small';
@import './medium';
@import './large';